html, body {
    width: 90%;
    height: 100%;
    margin: 0px;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu_icons {
    display: block;
    position: relative;
    margin: auto;
    width: 50px;
}

.header {
    display: block;
    width: 100%;
}

.wrapper {
    display: block;
    position: relative;
    left: 3%;
    height: auto;
    width: 25%;
    
}

.nav {
    border: 2px solid #3e4bff;
    text-align: left;
    height: 75px;
    line-height: 75px;
    display: grid;
    grid-auto-flow: row;
    
    
}

#nav_menu_input {
    appearance: none;
}

#nav_menu_label {
    font-size: 36px;
    margin: 0 0 0 5%;
    line-height: 70px;
    display: block;
    cursor: pointer;
}

.nav_menu {
    display: grid;
    gap: 3px;
    padding: 12px;
    align-content:stretch;
    justify-content:space-between;
    height: 300px;
    margin-left: 4%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    overflow-y: scroll;
    justify-items: stretch;
}

.nav_menu_item {
    height: auto;
    list-style-type: none;
    align-self: start;
    justify-content: center;
    align-content: center;
}

.nav_menu_item_link {
    display: block;
    padding: 10px;
    text-decoration: none;
    line-height: 40px;
    border: 2px solid #3e4bff;
    border-radius: 5px;
}
/* 
.nav_menu a {
    text-decoration: none;
    color: black;
    margin: 0;
    line-height: 25px;
    display: block;
    border: 2px solid #3e4bff;
    border-radius: 5px;
    padding: 10px 0 10px 0;
}
 */


#nav_menu_input:checked~.wrapper {
    display: none;
    
}
